*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: white;
    height: 100vh;
}

a{
    display: block;
    text-decoration: none;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid palevioletred;
    border-radius: 20px;
    background: pink;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

p{
    font-size: 24px;
    color: black;
}

tr, td{
    padding: 10px;
    border: 1px, solid black;
}